<!-- FOOTER -->
<footer data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">

              <div class="col-md-5 col-sm-12">
                   <div class="footer-thumb footer-info"> 
                        <h2>
                            <a href="index.html" class="navbar-brand-logo">
                            </a>
                        </h2>
                        <p>{{APP_CONTENT.FOOTER_BLOCK.SUB_TEXT}}</p>
                   </div>
              </div>

              <div class="col-md-2 col-sm-4"> 
                   <div class="footer-thumb"> 
                        <h2>Reyansys</h2>
                        <ul class="footer-link">
                             <!-- <li><a href="#">About Us</a></li>
                             <li><a href="#">Join our team</a></li> -->
                             <li><a href="https://medium.com/@ReyanSys" target="_blank">Read Blog</a></li>
                             <!-- <li><a href="#">Press</a></li> -->
                        </ul>
                   </div>
              </div>

              <!-- <div class="col-md-2 col-sm-4"> 
                   <div class="footer-thumb"> 
                        <h2>Services</h2>
                        <ul class="footer-link">
                             <li><a href="">Pricing</a></li>
                             <li><a href="">Documentation</a></li>
                             <li><a href="">Support</a></li>
                        </ul>
                   </div>
              </div> -->

              <div class="col-md-3 col-sm-4"> 
                   <div class="footer-thumb"> 
                        <h2>Find us</h2>
                        <p>Address</p>
                        <address class="address-styles">
                         Sterling, VA, <br/>
                         United States, <br/>
                         Virginia
                        </address>
                       
                   </div>
              </div>                    

              <div class="col-md-12 col-sm-12">
                   <div class="footer-bottom">
                        <div class="col-md-6 col-sm-5">
                             <div class="copyright-text"> 
                                  <!-- <p>Copyright &copy; 2017 Your Company</p> -->
                             </div>
                        </div>
                        <div class="col-md-6 col-sm-7">
                             <div class="phone-contact"> 
                                  <p>Call us <span>571-597-7657</span></p>
                             </div>
                             <ul class="social-icon">
                              <li><a href="https://www.facebook.com/reyansysllc/" name="facebook" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                              <li><a href="https://twitter.com/ReyanSys" name="twitter" target="_blank"><i class="fa fa-twitter-square"></i></a></li>
                              <li><a href="mailto:contact@reynsys.com" name="email"><i class="fa fa-envelope"></i></a></li>
                              <li><a href="https://www.linkedin.com/company/reyansys/" name="linkedin" target="_blank"><i class="fa fa-linkedin-square"></i></a></li>
                              <li><a href="https://medium.com/@ReyanSys" name="medium" target="_blank"><i class="fa fa-medium"></i></a></li>
       
                              
                             </ul>
                        </div>
                   </div>
              </div>
              
         </div>
    </div>
</footer>
