

     <!-- PRE LOADER -->
     <section class="preloader">
          <div class="spinner">
               <span class="spinner-rotate"></span>
          </div>
     </section>


     <!-- MENU -->
     <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
          <div class="container">

               <div class="navbar-header">
                    <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                         <span class="icon icon-bar"></span>
                    </button>

                    <!-- lOGO TEXT HERE -->
                    <a href="index.html" class="navbar-brand-logo">
                    </a>
               </div>

               <!-- MENU LINKS -->
               <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-nav-first">
                         <li><a href="#home" class="smoothScroll">Home</a></li>
                         <li><a href="#about" class="smoothScroll">Services</a></li>
                         <li><a href="#blog" class="smoothScroll">Blog</a></li>
                         <!-- <li><a href="#work" class="smoothScroll">Our Work</a></li> -->
                         <li><a href="#contact" class="smoothScroll">Contact Us</a></li>
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                         <li><a href="#" name="facebook"><i class="fa fa-facebook-square"></i></a></li>
                         <li><a href="#" name="twitter"><i class="fa fa-twitter-square"></i></a></li>
                         <li><a href="#" name="instagram"><i class="fa fa-instagram"></i></a></li>
                         <li><a href="#" name="linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                         <li><a href="#" name="medium"><i class="fa fa-medium"></i></a></li>
                         <!-- <li class="section-btn"><a href="#" data-toggle="modal" data-target="#modal-form">Sign in / Join</a></li> -->
                    </ul>
               </div>

          </div>
     </section>


     <!-- HOME -->
     <section id="home" data-stellar-background-ratio="0.5">
          <div class="overlay"></div>
          <div class="container">
               <div class="row">

                    <div class="col-md-6 col-sm-12">
                         <div class="home-info">
                              <h1>{{APP_CONTENT.HEADER_BLOCK.TITLE}}</h1>
                              <!-- <a href="#about" class="btn section-btn smoothScroll">Start a project</a> -->
                              <span>
                                {{APP_CONTENT.HEADER_BLOCK.DESCRIPTION}}
                              </span>
                              <!-- <a href="#about" class="btn section-btn smoothScroll">Get a Quote</a> -->
                         </div>
                    </div>

                    <div class="col-md-6 col-sm-12">
                         <div class="home-video">
                              <!-- <div class=""> -->
                                   <img [src]="APP_CONTENT.HEADER_BLOCK.imageUrl" />
                                   <!-- <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0" allowfullscreen></iframe> -->
                              <!-- </div> -->
                         </div>
                    </div>
                    
               </div>
          </div>
     </section>

<!-- ABOUT -->
<!-- <section id="about" data-stellar-background-ratio="0.5">
  <div class="container">
       <div class="row">

            <div class="col-md-5 col-sm-6">
                 <div class="about-info">
                      <div class="section-title">
                           <h2>Let us introduce</h2>
                           <span class="line-bar">...</span>
                      </div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
                 </div>
            </div>

            <div class="col-md-3 col-sm-6">
                 <div class="about-info skill-thumb">

                      <strong>Web Design</strong>
                           <span class="pull-right">85%</span>
                                <div class="progress">
                                     <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                </div>

                      <strong>Photography</strong>
                           <span class="pull-right">90%</span>
                                <div class="progress">
                                     <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                                </div>

                      <strong>Content Marketing</strong>
                           <span class="pull-right">75%</span>
                                <div class="progress">
                                     <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                </div>

                      <strong>CMS Admin</strong>
                           <span class="pull-right">70%</span>
                                <div class="progress">
                                     <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                </div>
                      <strong>Lorem Ipusam</strong>
                      <span class="pull-right">70%</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                            </div>
                    <strong>Lorem Ipusam</strong>
                    <span class="pull-right">70%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                    <strong>Lorem Ipusam</strong>
                    <span class="pull-right">70%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>   
                    <strong>Lorem Ipusam</strong>
                    <span class="pull-right">70%</span>
                          <div class="progress">
                              <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                          </div>
                 </div>
            </div>

            <div class="col-md-4 col-sm-12">
                 <div class="about-image">
                      <img src="../assets/images/about-image.jpg" class="img-responsive" alt="">
                 </div>
            </div>
            
       </div>
  </div>
</section> -->


 <!-- BLOG -->
 <section id="blog" data-stellar-background-ratio="0.5">
  <div class="container">
       <div class="row">

            <div class="col-md-12 col-sm-12">
                 <div class="section-title">
                      <h2>{{APP_CONTENT.BLOG_BLOCK.TITLE}}</h2>
                      <span class="line-bar">...</span>
                 </div>
            </div>


            <div class="col-md-6 col-sm-6" *ngFor="let blog of APP_CONTENT.BLOG_BLOCK.content">
                 <!-- BLOG THUMB -->
                 <div class="media blog-thumb">
                      <div class="media-object media-left">
                           <a [href]="blog.blog_url"><img [src]="blog.image_url" class="img-responsive" alt=""></a>
                      </div>
                      <div class="media-body blog-info">
                           <small><i class="fa fa-clock-o"></i> {{blog.posted_date}}</small>
                           <h3><a [href]="blog.blog_url">{{blog.blog_title}}.</a></h3>
                           <p>{{blog.blog_description}}</p>
                           <a [href]="blog.blog_url" class="btn section-btn">{{blog.button_label}}</a>
                      </div>
                 </div>
            </div>

           
            
       </div>
  </div>
</section>

<!-- CLIENTS -->
<section id="clients" data-stellar-background-ratio="0.5">
    <div class="container">
         <div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="section-title">
             <h2>{{APP_CONTENT.CLIENTS_BLOCK.TITLE}}</h2>
             <span class="line-bar">...</span>
        </div>
   </div>
      <owl-carousel-o [options]="customOptions" >
        <ng-container *ngFor="let logoUrl of APP_CONTENT.CLIENTS_BLOCK.LOGOS; let i = index">
            <ng-template carouselSlide [id]="i+'str'" >
                <div class="client-block">
                     <img [src]="logoUrl" [alt]="i+'str'"/>
                </div>
               
            </ng-template>
          </ng-container>
      </owl-carousel-o>
  </div>
</div>
</section>

     <!-- FOOTER -->
     <footer data-stellar-background-ratio="0.5">
        <div class="container">
             <div class="row">

                  <div class="col-md-5 col-sm-12">
                       <div class="footer-thumb footer-info"> 
                            <h2>
                                <a href="index.html" class="navbar-brand-logo">
                                </a>
                            </h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                       </div>
                  </div>

                  <div class="col-md-2 col-sm-4"> 
                       <div class="footer-thumb"> 
                            <h2>Reyansys</h2>
                            <ul class="footer-link">
                                 <li><a href="#">About Us</a></li>
                                 <li><a href="#">Join our team</a></li>
                                 <li><a href="#">Read Blog</a></li>
                                 <li><a href="#">Press</a></li>
                            </ul>
                       </div>
                  </div>

                  <div class="col-md-2 col-sm-4"> 
                       <div class="footer-thumb"> 
                            <h2>Services</h2>
                            <ul class="footer-link">
                                 <li><a href="#">Pricing</a></li>
                                 <li><a href="#">Documentation</a></li>
                                 <li><a href="#">Support</a></li>
                            </ul>
                       </div>
                  </div>

                  <div class="col-md-3 col-sm-4"> 
                       <div class="footer-thumb"> 
                            <h2>Find us</h2>
                            <p>-----</p>
                       </div>
                  </div>                    

                  <div class="col-md-12 col-sm-12">
                       <div class="footer-bottom">
                            <div class="col-md-6 col-sm-5">
                                 <div class="copyright-text"> 
                                      <!-- <p>Copyright &copy; 2017 Your Company</p> -->
                                 </div>
                            </div>
                            <div class="col-md-6 col-sm-7">
                                 <div class="phone-contact"> 
                                      <p>Call us <span>000000000000</span></p>
                                 </div>
                                 <ul class="social-icon">
                                    <li><a href="#" name="facebook"><i class="fa fa-facebook-square"></i></a></li>
                                    <li><a href="#" name="twitter"><i class="fa fa-twitter-square"></i></a></li>
                                    <li><a href="#" name="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li><a href="#" name="linkedin"><i class="fa fa-linkedin-square"></i></a></li>
                                    <li><a href="#" name="medium"><i class="fa fa-medium"></i></a></li>
                                 </ul>
                            </div>
                       </div>
                  </div>
                  
             </div>
        </div>
   </footer>




     
