
 <!-- BLOG HEADER -->
 <section id="blog-header" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
         <div class="row">

              <div class="col-md-offset-1 col-md-5 col-sm-12">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">The page you are looking for was not found.</div>
                <a routerLink="/home" class="btn btn-link">Back to Home</a>
              </div>
              
         </div>
    </div>
</section>

