


   <!-- HOME -->
   <section id="home" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
             <div class="row">

                  <div class="col-md-6 col-sm-12">
                    <!-- <div class="waviy">
                         <span style="--i:1">R</span>
                         <span style="--i:2">E</span>
                         <span style="--i:3">Y</span>
                         <span style="--i:4">A</span>
                         <span style="--i:5">N</span>
                         <span style="--i:6">S</span>
                         <span style="--i:7">Y</span>
                         <span style="--i:8">S</span>                      
                        </div> -->
                       <div class="home-info">
                            <h1>
                              <span  class="animate-charcter">Innovative</span> and 
                              <span  class="animate-charcter"> Reliable</span>
                              IT Solutions
                            
                         </h1>
                            <!-- <a href="#about" class="btn section-btn smoothScroll">Start a project</a> -->
                            <span>
                              {{APP_CONTENT.HEADER_BLOCK.DESCRIPTION}}
                            </span>
                            <!-- <a href="#about" class="btn section-btn smoothScroll">Get a Quote</a> -->
                       </div>
                  </div>

                  <div class="col-md-6 col-sm-12">
                       <div class="home-video">
                            <!-- <div class=""> -->
                                 <img [src]="APP_CONTENT.HEADER_BLOCK.imageUrl"  alt="reyansys-web"/>
                                 <!-- <iframe src="https://www.youtube.com/embed/AqcjdkPMPJA" frameborder="0" allowfullscreen></iframe> -->
                            <!-- </div> -->
                       </div>
                  </div>
                  
             </div>
        </div>
   </section>

 <!-- SERVICES   -->
<section id="services" data-stellar-background-ratio="0.5">
   <div class="container">
        <div class="col-md-12 col-sm-12">
             <div class="section-title">
                  <h2>Services</h2>
                  <span class="line-bar">...</span>
             </div>
        </div>
         
<div class="row">
   <div class="col-md-6">
       <div class="service-item" routerLink="/services/CloudServices">
           <div class="icon">
             <i class="fa fa-cloud"></i>
           </div>
           <h4>Cloud Manged Servcies</h4>
           <p>To provide comprehensive, reliable, and scalable cloud managed services through ReyanSys,
                ensuring seamless migration, optimization, and ongoing management of clients cloud infrastructure
               to enhance efficiency, security, and agility while maximizing ROI.</p>
       </div>
   </div>
   <div class="col-md-6"  routerLink="/services/Observability">
     <div class="service-item">
         <div class="icon">
           <i class="fa fa-object-group"></i>
         </div>
         <h4>Managed Observability and Monitoring</h4>
         <p>Welcome to ReyanSys, your trusted partner in IT staffing solutions tailored to propel your organization's digital transformation journey forward. With our expertise, experience, and commitment to excellence.</p>
     </div>
 </div>
   <div class="col-md-6">
       <div class="service-item" routerLink="/services/AppContainerization">
           <div class="icon">
             <i class="fa fa-gears"></i>
           </div>
           <h4>App Containerization</h4>
           <p>As Reyansys, you're likely committed to delivering top-notch containerization solutions to your clients. Here's how you might highlight your services</p>
       </div>
   </div>
   
   <div class="col-md-6">
        <div class="service-item"  routerLink="/services/DataOpsServices">
            <div class="icon">
              <i class="fa fa-database"></i>
            </div>
            <h4>DataOps services</h4>
            <p>Certainly! Here are some potential objectives for Reyansys to consider in offering DevOps services</p>
        </div>
    </div>
</div>
</div>
</section>


<!-- CLIENTS -->
<section id="clients" data-stellar-background-ratio="0.5">
  <div class="container">
       <div class="row">
  <div class="col-md-12 col-sm-12">
      <div class="section-title">
           <h2>{{APP_CONTENT.CLIENTS_BLOCK.TITLE}}</h2>
           <span class="line-bar">...</span>
      </div>
 </div>
    <owl-carousel-o [options]="customOptions" >
      <ng-container *ngFor="let logoUrl of APP_CONTENT.CLIENTS_BLOCK.LOGOS; let i = index">
          <ng-template carouselSlide [id]="i+'str'" >
              <div class="client-block">
                   <img [src]="logoUrl" [alt]="i+'str'"/>
              </div>
             
          </ng-template>
        </ng-container>
    </owl-carousel-o>
</div>
</div>
</section>

<!-- BLOG -->
<section id="blog" data-stellar-background-ratio="0.5">
   <div class="container">
        <div class="row">
 
             <div class="col-md-12 col-sm-12">
                  <div class="section-title">
                       <h2>{{APP_CONTENT.BLOG_BLOCK.TITLE}}</h2>
                       <span class="line-bar">...</span>
                  </div>
             </div>
             
 
             <div class="col-md-12 col-sm-12" *ngFor="let blog of APP_CONTENT.BLOG_BLOCK.content">
                  <!-- BLOG THUMB -->
                  <div class="media blog-thumb">
                       <div class="media-object media-left">
                            <a [href]="blog.blog_url"><img [src]="blog.image_url" class="img-responsive" alt="reyansys blog medium"></a>
                       </div>
                       <div class="media-body blog-info">
                            <!-- <small><i class="fa fa-clock-o"></i> {{blog.posted_date}}</small> -->
                            <h3><a [href]="blog.blog_url" target="_blank">  {{blog.blog_title}}.</a></h3>
                            <!-- <p>{{blog.blog_description}}</p> -->
                            <a [href]="blog.blog_url" class="btn section-btn" target="_blank">{{blog.button_label}}</a>
                       </div>
                  </div>
             </div>
 
            
             
        </div>
   </div>
 </section>

<!-- CONTACT -->
<section id="contact" data-stellar-background-ratio="0.5">
   <div class="container">
        <div class="row">

             <div class="col-md-12 col-sm-12">
                  <div class="section-title">
                       <h2>Contact us</h2>
                       <span class="line-bar">...</span>
                  </div>
             </div>

             <div class="col-md-8 col-sm-8">
                 
                  <!-- CONTACT FORM HERE -->
                  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                    <div class="col-md-6 col-sm-6">
                      <input type="text" class="form-control" placeholder="Full Name" formControlName="fullName" required>
                    </div>
                  
                    <div class="col-md-6 col-sm-6">
                      <input type="email" class="form-control" placeholder="Your Email" formControlName="email" required>
                    </div>
                  
                    <div class="col-md-12 col-sm-12">
                      <input type="tel" class="form-control" placeholder="Your Phone" formControlName="phone" required>
                    </div>
                  
                    <div class="col-md-12 col-sm-12">
                      <textarea class="form-control" rows="6" placeholder="Your requirements" formControlName="message" required></textarea>
                    </div>
                  
                    <div class="col-md-4 col-sm-12">
                      <button type="submit" class="section-btn" [disabled]="!contactForm.valid">Send Message</button>
                    </div>
                  </form>
             </div>

             <div class="col-md-4 col-sm-4">
                  <div class="google-map">
<!-- How to change your own map point
     1. Go to Google Maps
     2. Click on your location point
     3. Click "Share" and choose "Embed map" tab
     4. Copy only URL and paste it within the src="" field below
-->
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d72783.50662727622!2d80.63200665142845!3d16.515398408410842!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35eff9482d944b%3A0x939b7e84ab4a0265!2sVijayawada%2C%20Andhra%20Pradesh!5e0!3m2!1sen!2sin!4v1708919106392!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="async" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
             </div>

        </div>
   </div>
</section>

   

