/* You can add global styles to this file, and also import other style files */
.client-block {
    margin-right: 25px;
      img {
          display: block;
          height: 100px;
          width: 100%;
          filter: grayscale(100%);
          transition: filter 0.3s ease;
          cursor: pointer;
          
  
          &:hover {
              filter: grayscale(0%);
              transition: filter 0.3s ease;
          }
      }
  }
  ::ng-deep .owl-carousel .owl-stage-outer{
          width:100% !important;
  }
  .service-item {
      text-align: center;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 50px 30px;
      background-color: #fff;
      margin-bottom: 20px;
      cursor: pointer;
      &:hover{
          background: #00F260;
          background: -webkit-linear-gradient(to right, #0575E6, #00F260);
          background: linear-gradient(to right, #0575E6, #00F260);
          transition: 0.3s all ease-in;
          color: #fff;
          h4,p{
              color: #fff;
          }
      }
    }
    
   .service-item .icon i {
      max-width: 100%;
      font-size: 50px;
      height:50px;
      width: 50px;
    }
    
   .service-item h4 {
      font-size: 19px;
      font-weight: 600;
      color: #232323;
      margin-top: 30px;
      margin-bottom: 15px;
    }
    
  .left-content h4 {
      font-size:  19px;
      font-weight:  600;
      color:  #232323;
      margin-top: 0px;
      margin-bottom:  25px;
    }
    
  .left-content .blue-button {
      margin-top: 25px;
    }
    